.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 400px;
  padding: 5px;
}

[role='tooltip'].popup-content {
  width: 400px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}